{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<div class="main">

    <section class="create-journey">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Enter a new password</h2>

					<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
					<br>
					
					<form method="POST">	
						{% csrf_token %}						
						<div class="form-group">
							<h3>Password:</h3>
                            {{form.new_password1}}
                        </div>
						<div class="form-group">
							<h3>Confirm Password:</h3>
                            {{form.new_password2}}
                        </div>
						<input type="Submit" name="Update Password">
					</form>		
                </div>
            </div>
        </div>
    </section>

</div>


<script>

	/* Since placeholder values have not been set in forms.py they will be set here using vanilla Javascript*/
	
	//Query All input fields
	var form_fields = document.getElementsByTagName('input')
	form_fields[2].placeholder='Enter password...';
	form_fields[3].placeholder='Re-enter Password...';
	
	
	for (var field in form_fields){	
	form_fields[field].className += ' form-control'
	}
</script>


{% endblock %}