{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<div class="main">

    <section class="create-journey">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Password reset</h2>
					<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                    <br>
		
					<form method="POST">
						{% csrf_token %}
                        <div class="form-group">
							<h3>Email:</h3>
                            {{form.email}}
                        </div>
						<input type="Submit" name="Send email">						
					</form>
                    
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}